body {
	font-family: georgia, serif;
}

header {
	text-align: center;
	margin: 30px;
}

h1 {
	font-weight: normal;
	margin-bottom: 0;
}

h2 {
	font-weight: normal;
	margin-top: 30px;
}

header a {
	text-decoration: none;
	font-size: 10pt;
}
header a:hover {
	text-decoration: underline;
}

#content {
	width: 800px;
	margin: 0 auto;
}

#tests {
	width: 700px;
	margin: 50px auto;
}

#find, #replace {
	border: 1px black solid;
	width: 306px;
	padding: 5px 10px;
	font-size: 12pt;
}

#find {
	margin-right: 40px;
}

strong.invalid {
	display: none;
	color: red;
}

#tests ul {
	padding: 0;
}

#tests li {
	list-style-type: none;
	margin-bottom: 10px;
}

#tests ul.match li {
	margin-bottom: 0;
}

#tests li:not(.pass):not(.fail) {
	height: 19px;
	overflow: hidden;
}

#tests li.pass {
	height: 19px;
	overflow: hidden;
	background-color: #9f9;
}

#tests li.fail {
	background-color: #f99;
}
